{% macro renderItem(item) %}
	<div class="item">
		<h1 class="ui header">{{ item.fullname }}</h1>
		<div class="item_lr">
			<div class="item_bar" style="box-shadow:inset 0 0 0 1000px {{ item.colour }}">&nbsp;</div>
			<div class="item_content">
				<p>
					<b>Weighting:</b>
					{% if item.weight === 0 %}
						{% if item.hurdle %}
							<b>Hurdle</b>
						{% else %}
							0%
						{% endif %}
					{% else %}
						{{ (item.weight * 100) | round(2) }}% of
						{% if item.of.code %}
							{{ item.of.code }}
						{% else %}
							{{ item.of.name }}
						{% endif %}
						{% if item.hurdle %}
							<b>(Hurdle)</b>
						{% endif %}
					{% endif %}
					<br>
					
					<b>Overall:</b> {{ (item.pct / top.children[0].pct * 100) | round(2) }}%<br>
					
					{% if item.borderline %}
						<b>Borderline:</b> {{ (item.borderline * 100) | round(2) }}%<br>
					{% endif %}
					
					{% if not isOnePage or item.unit === item %}
						<a href="https://www.monash.edu.au/pubs/handbooks/units/{{ item.unit.code }}.html"><i class="external icon"></i>Handbook</a>
						&middot;
						<a href="http://unitguidemanager.monash.edu/view?unitCode={{ item.unit.code }}&tpCode={{ item.unit.tpCode }}&tpYear={{ year }}"><i class="external icon"></i>Unit Guide ({{ year }})</a>
						&middot;
						<a href="http://unitguidemanager.monash.edu/view?unitCode={{ item.unit.code }}&tpCode={{ item.unit.tpCode }}&tpYear={{ year - 1 }}"><i class="external icon"></i>Unit Guide ({{ year - 1 }})</a>
					{% endif %}
				</p>
				<p>{{ item.description | safe }}</p>
				{% if item.children.length > 0 %}
					{% if isOnePage %}
						<div>
							{% for child in item.children %}
								{{ renderItem(child) }}
							{% endfor %}
						</div>
					{% else %}
						<table class="ui selectable celled table" style="width: 100%;">
							<thead>
								<tr>
									<th class="ten wide">Item</th>
									<th class="four wide">Weighting</th>
									<th class="two wide">Overall <i class="help circle icon" data-content="These figures are the overall percentage contribution to the {{ "final course grade (MED5100) including year 5D" if isInclude5D else "internship z-score (MED2000 & MED4000) excluding year 5D" }} grade." data-variation="wide"></i></th>
								</tr>
							</thead>
							<tbody>
								{% for child in item.children %}
									<tr class="item_child" data-child-id="{{ child.id }}">
										<td style="border-left:1em solid {{ child.colour }}">{{ child.fullname }}</td>
										<td>
											{% if child.weight === 0 %}
												{% if child.hurdle %}
													<b>Hurdle</b>
												{% else %}
													0%
												{% endif %}
											{% else %}
												{{ (child.weight * 100) | round(2) }}%
												{% if child.of !== item %}
													of
													{% if child.of.code %}
														{{ child.of.code }}
													{% else %}
														{{ child.of.name }}
													{% endif %}
												{% endif %}
												{% if child.hurdle %}
													<b>(Hurdle)</b>
												{% endif %}
											{% endif %}
										</td>
										<td>{{ (child.pct / top.children[0].pct * 100) | round(2) }}%</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
{% endmacro %}
{{ renderItem(item) }}
